<div class="flex items-center gap-2 px-6 py-3.5 border-b border-n-weak">
  <svg class="w-4 h-4 text-n-slate-10" width="16" height="16"><use xlink:href="#<%= icon %>" /></svg>
  <h2 class="text-sm font-medium text-n-slate-12"><%= title %></h2>
</div>
