<div class="field-unit__label">
  <%= f.label field.attribute, class: "block text-sm font-medium text-n-slate-12" %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute,
    class: "block w-full h-9 rounded-lg bg-n-solid-1 text-sm text-n-slate-12 px-3 outline outline-1 -outline-offset-1 outline-n-weak hover:outline-n-slate-6 focus:outline-2 focus:outline-n-brand transition-all duration-200" %>
</div>
